<nav class="
relative
w-full
flex flex-wrap
items-center
justify-between
py-4
bg-gray-100
text-gray-500
hover:text-gray-700
focus:text-gray-700
shadow-lg
navbar navbar-expand-lg navbar-light
">
<div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">

<!-- Left links -->
<ul class="navbar-nav flex flex-row gap-10 pl-0 list-style-none mr-auto text-right">
  <li class="nav-item pr-2">
    <%= link_to 'Groups', groups_path %>
  </li>
  <li class="nav-item pr-2">
    <%= button_to "Sign out", destroy_user_session_path, :method => 'delete', data:{turbo: "false"} %>
  </li>
</ul>
<!-- Left links -->
<!-- Collapsible wrapper -->
</div>
</nav>