<div>
  <% if current_user %>
    <%= current_user.id %>
    <%= button_to "Sign_out", destroy_user_session_path, :method => 'delete', data:{turbo: "false"} %>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</div>
